* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container-finish {
    .finish {
        .steps {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1420px;
            margin-top: 50px;

            .step_1,
            .step_2 {

                .no-1,
                .no-2 {
                    width: 35px;
                    height: 35px;
                    border-radius: 20px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .no-1,
                .no-2 {
                    background: #6ACA25;
                    margin-left: 50px;
                }

                .auth-phone,
                .create-pass {
                    color: #6ACA25;
                    font-weight: 600;
                    font-size: 14px;
                    margin-top: 10px;
                }

            }

            .arr {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: -50px;

                .arrow {
                    position: absolute;
                    top: 19.8px;
                    left: 107px;
                }

                .arrow::before,
                .arrow::after {
                    position: relative;
                    content: '';
                    display: block;
                    width: 20px;
                    height: 1px;
                    background: #6ACA25;
                }

                .arrow::before {
                    transform: rotate(45deg);
                }

                .arrow::after {
                    top: 14px;
                    transform: rotate(-45deg);
                }

                .arrow-1 {
                    border: 0.5px solid #6ACA25;
                    margin-top: 26px;
                    width: 120px;
                    background: #6ACA25;
                }
            }

            .arr {
                .arr-2::before,
                .arr-2::after {
                    background-color: #6ACA25;
                }
                .arr-3 {
                    border: 0.5px solid #6ACA25;
                    //background-color: #9A9A9A;
                }
            }

            .step_2 {
                .no-2 {
                    border: 1px solid #6ACA25;
                    margin-left: 25px;
                }
            }

            .step_3 {
                .check {
                    width: 35px;
                    height: 35px;
                    border-radius: 20px;
                    border: 1px solid #6ACA25;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 20px;
                    background: #6ACA25;

                    .no-3 {
                        display: inline-block;
                        width: 8px;
                        height: 16px;
                        border-bottom: 1px solid #fff;
                        border-right: 1px solid #fff;
                        transform: rotate(45deg);
                    }

                }

                .complete {
                    color: #9A9A9A;
                    font-weight: 600;
                    font-size: 14px;
                    margin-top: 10px;

                }
            }
        }

        .successful_register {
            height: 100%;
            margin: 30px auto 200px;
            display: flex;
            justify-content: center;
            align-items: center;

            .successful {
                border: 1px solid #fff;
                width: 471px;
                height: 459px;
                box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);

                .notification {
                    font-size: 20px;
                    margin-top: 33px;
                }

                .check {
                    width: 72px;
                    height: 72px;
                    border-radius: 40px;
                    border: 1px solid #6ACA25;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    margin-top: 36px;
                    margin-bottom: 30px;

                    .no-3 {
                        display: inline-block;
                        width: 18px;
                        height: 36px;
                        border-bottom: 5px solid #6ACA25;
                        border-right: 5px solid #6ACA25;
                        transform: rotate(45deg);
                    }
                }

                .notification,
                .complete_account {
                    font-weight: 600;
                    text-align: center;
                }

                .five_seconds {
                    text-align: center;
                    font-size: 15px;
                    margin-top: 20px;
                    span {
                        font-weight: 600;
                        display: block;
                    }
                }

                .btn-return {
                    width: 406px;
                    height: 45px;
                    background: #D80000;
                    opacity: 0.5;
                    color: #fff;
                    margin-top: 36px;
                    margin-left: 37px;
                    font-weight: 500;
                    font-size: 15px;
                    cursor: pointer;
                }

            }
        }


    }
}